﻿﻿@using PBShop.Models;
@model List<ProductModel>

<div class="cart-inner">
    <ul class="products">
        @foreach (var item in Model)
        {
            <li>
                <div class="minicart-item">
                    <div class="thumb">
                        <a href="#">
                            <img src="~/Theme/assets/images/minicart/pr-01.jpg"
                                 width="90"
                                 height="90"
                                 alt="National Fresh" />
                        </a>
                    </div>
                    <div class="left-info">
                        <div class="product-title">
                            <a href="#" class="product-name">National Fresh Fruit</a>
                        </div>
                        <div class="price">
                            <ins>
                                <span class="price-amount">
                                    <span class="currencySymbol">₫</span>85.00
                                </span>
                            </ins>
                            <del>
                                <span class="price-amount">
                                    <span class="currencySymbol">₫</span>95.00
                                </span>
                            </del>
                        </div>
                        <div class="qty">
                            <label for="cart[id123][qty]">Qty:</label>
                            <input type="number"
                                   class="input-qty"
                                   name="cart[id123][qty]"
                                   id="cart[id123][qty]"
                                   value="1"
                                   disabled />
                        </div>
                    </div>
                    <div class="action">
                        <a href="#" class="edit">
                            <i class="fa fa-pencil"
                               aria-hidden="true"></i>
                        </a>
                        <a href="#" class="remove">
                            <i class="fa fa-trash-o"
                               aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </li>
        }

    </ul>
    <p class="btn-control">
        <a href="shopping-cart.html" class="btn view-cart">Xem Giỏ Hàng</a>
        <a href="checkout.html" class="btn">Thanh Toán</a>
    </p>
</div>
