<div class="popover__content">
    <ul class="LogoutAndAcc">
        <li>
            <a href="#">Tài Khoản Của Tôi</a>
        </li>
        <li><a href="@Url.Action("Logout","User")">Đăng Xuất</a></li>
    </ul>
</div>
