<div class="modal fade" id="BtnPay" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
                <h4 class="modal-title">Static Backdrop</h4>
            </div>
            <div class="modal-body">
                <p>Thanh Toán Thành Công.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">
                    OK
                </a>
            </div>
        </div>
    </div>
</div>